---
export interface Props {
  name: string;
  class?: string;
}

const { name, class: className, ...rest } = Astro.props;
const { default: innerHTML } = await import(`/icons/${name}.svg?raw`);
---

<div class:list={className} {...rest}>
  <Fragment set:html={innerHTML} />
</div>
