---
export interface Props {
  name: string;
  class?: string;
}

const { class: className, name, ...rest } = Astro.props;
const { default: innerHTML } = await import(`/svg/${name}.svg?raw`);
---

<div class:list={className} {...rest}>
  <Fragment set:html={innerHTML} />
</div>
