---
import { Image } from "astro:assets";
import CloseBtn from "@svgs/CloseBtn.svg";

export interface Props {
  id: string;
  buttonText: string;
  class: string;
}
const { id, buttonText, class: className, ...rest } = Astro.props;
---

<button
  class:list={["btn primary", className]}
  {...rest}
  onclick={`window.${id}.showModal()`}
>
  {buttonText}
</button>

<dialog id={id}>
  <form method="dialog" class="close-button">
    <button>
      <Image src={CloseBtn} alt="Cerrar" />
    </button>
  </form>

  <slot name="main" />
</dialog>

<style>
  dialog {
    position: fixed;
    width: 50svh;
    height: 100svh;
    top: 0px;
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: var(--modal-background);
    color: var(--primary-text);
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 24px 32px;
  }

  dialog::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
  }

  .close-button {
    display: flex;
    justify-content: flex-end;
    margin: 24px 0 16px 0;
  }

  @media (width <= 768px) {
    dialog {
      width: 100svh;
    }
  }
</style>
