.openButton {
  color: var(--primary-text);
}

.sidebar {
  width: 100%;
}

.open {
  position: fixed;
  background: var(--dark-matter);
  color: var(--primary-text);
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: height 0.5s;
}

.closed {
  height: 0px;
  opacity: 0;
  background: transparent;
  transition: height 0.5s;
}

.sidebarContent {
  display: flex;
  position: relative;
  flex-flow: column;
  padding: 24px;
  align-items: center;
  height: 100%;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 24px;
  color: var(--primary-text);
}

.menuItems {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  gap: 24px;
}

.menuItems > a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--energy-blue);
}

.contactUsButton {
  width: 100%;
  padding: 22px 16px;
  background: var(--energy-blue);
  color: var(--button-energy-blue);
  font-size: 18px;
  line-height: 24px;
}

@media (width >= 1280px) {
  .openButton,
  .sidebar {
    display: none;
  }
}
