---
import MetricCard from "@components/MetricCard.astro";
import Icon from "./shared/Icon.astro";
---

<section class="metrics-container">
  <!-- Mobile only -->
  <div class="metrics-partial-container">
    <MetricCard title="45%" description="Increase user retention" />
    <MetricCard title="15%" description="Increase in product sales" />
  </div>

  <MetricCard
    class="desktop-only"
    title="45%"
    description="Increase user retention"
  >
    <div class="metric-icon">
      <Icon name="MetricIcon1" />
    </div>
  </MetricCard>
  <MetricCard
    class="desktop-only"
    title="15%"
    description="Increase in product sales"
  >
    <div class="metric-icon">
      <Icon name="MetricIcon2" />
    </div>
  </MetricCard>

  <MetricCard
    title="999"
    description="Lorem ipsum dolor sit amet consectetur. Gravida dictum sociis felis donec euismod."
  >
    <div class="metric-icon">
      <Icon name="MetricIcon3" />
    </div>
  </MetricCard>

  <MetricCard
    title="999"
    description="Lorem ipsum dolor sit amet consectetur. Gravida dictum sociis felis donec euismod."
  >
    <div class="metric-icon">
      <Icon name="MetricIcon4" />
    </div>
  </MetricCard>
</section>

<style>
  .metrics-container {
    display: flex;
    flex-flow: column;
    padding: 56px 16px;
    width: 100%;
    gap: 24px;
  }

  .metrics-partial-container {
    display: flex;
    flex-flow: row;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
  }

  .metric-icon {
    display: none;
  }

  .desktop-only {
    display: none;
  }

  @media (width >= 1280px) {
    .desktop-only {
      display: initial;
    }

    .metrics-container {
      flex-flow: row;
      padding: 56px 64px;
    }

    .metrics-partial-container {
      display: none;
    }

    .metric-icon {
      display: initial;
      height: 80px;
    }
  }
</style>
