---
import { Image } from "astro:assets";
import MetricCard from "@components/MetricCard.astro";

import MetricIcon1 from "@svgs/MetricIcon1.svg";
import MetricIcon2 from "@svgs/MetricIcon2.svg";
import MetricIcon3 from "@svgs/MetricIcon3.svg";
import MetricIcon4 from "@svgs/MetricIcon4.svg";
---

<section class:list={["metrics-container", "bring-up"]}>
  <!-- Mobile only -->
  <div class="metrics-partial-container">
    <MetricCard title="45%" description="Increase user retention" />
    <MetricCard title="15%" description="Increase in product sales" />
  </div>

  <MetricCard
    class="desktop-only"
    title="45%"
    description="Increase user retention"
  >
    <div class="metric-icon-wrapper">
      <Image src={MetricIcon1} alt="MetricIcon1" class="metric-icon" />
    </div>
  </MetricCard>
  <MetricCard
    class="desktop-only"
    title="15%"
    description="Increase in product sales"
  >
    <div class="metric-icon-wrapper">
      <Image src={MetricIcon2} alt="MetricIcon2" class="metric-icon" />
    </div>
  </MetricCard>

  <MetricCard
    title="999"
    description="Lorem ipsum dolor sit amet consectetur. Gravida dictum sociis felis donec euismod."
  >
    <div class="metric-icon-wrapper">
      <Image src={MetricIcon3} alt="MetricIcon3" class="metric-icon" />
    </div>
  </MetricCard>

  <MetricCard
    title="999"
    description="Lorem ipsum dolor sit amet consectetur. Gravida dictum sociis felis donec euismod."
  >
    <div class="metric-icon-wrapper">
      <Image src={MetricIcon4} alt="MetricIcon4" class="metric-icon" />
    </div>
  </MetricCard>
</section>

<style>
  .metrics-container {
    display: flex;
    flex-flow: column;
    padding: 56px 16px;
    width: 100%;
    gap: 24px;
  }

  .metrics-partial-container {
    display: flex;
    flex-flow: row;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
  }

  .metric-icon-wrapper {
    display: none;
  }

  .desktop-only {
    display: none;
  }

  @media (width >= 1280px) {
    .desktop-only {
      display: initial;
    }

    .metrics-container {
      flex-flow: row;
      padding: 56px 64px;
    }

    .metrics-partial-container {
      display: none;
    }

    .metric-icon-wrapper {
      display: initial;
      height: 80px;
    }

    .metric-icon {
      width: 38px;
      height: 38px;
    }
  }

  @media (width >= 1920px) {
  }
</style>
