---
import Card from "@components/shared/Card.astro";
import Icon from "./shared/Icon.astro";

export interface Props {
  iconName: string;
  serviceName: string;
}

const { iconName, serviceName } = Astro.props;
---

<Card>
  <div class="service-card">
    <Icon class="service-icon" name={iconName} />
    <h5>{serviceName}</h5>
  </div>
</Card>

<style>
  .service-card {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .service-icon {
    width: 24px;
    height: 24px;
  }
</style>
