---
import Card from "@components/shared/Card.astro";

export interface Props {
  serviceName: string;
}

const { serviceName } = Astro.props;
---

<Card>
  <div class="service-card">
    <div class="service-icon">
      <slot />
    </div>
    <!-- <Icon class="service-icon" name={iconName} /> -->
    <h5>{serviceName}</h5>
  </div>
</Card>

<style>
  .service-card {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .service-icon {
    width: 24px;
    height: 24px;
  }
</style>
