---
import AppBackground from "@components/AppBackground.astro";
import Footer from "@components/Footer.astro";
import NavigationMenu from "@components/NavigationMenu.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <AppBackground>
      <NavigationMenu />

      <section>
        <slot />
      </section>

      <Footer />
    </AppBackground>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
  * {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

  :root {
    --card-background: #2d2d5399;
    --dark-matter: #1e1e33;
    --divider: #e2edec1f;
    --energy-blue: #05d3bf;
    --energy-orange: #ff861b;
    --energy-pink: #cc3266;
    --header-background: #0e0e20;
    --light-grey: #e2edec;
    --paper: #2d2d53;
    --primary-text: #fff;
  }

  html {
    background: var(--dark-matter);
    color: var(--primary-text);
  }

  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  body {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  button {
    background: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }

  h1 {
    font-size: 96px;
    line-height: 112px;
    font-weight: 300;
  }

  h2 {
    font-size: 60px;
    line-height: 56px;
    font-weight: normal;
  }

  h3 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
  }

  h4 {
    font-size: 34px;
    line-height: 42px;
    font-weight: 400;
  }

  h5 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }

  h6 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
  }

  p {
    margin: 0;
  }

  .body1 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .body2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  .bring-up {
    z-index: 0;
    position: relative;
  }

  a {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: normal;
    color: var(--primary-text);
  }
</style>
